/* /ImportExport/Export.razor.rz.scp.css */

.title-bar[b-lx31c6m7yd] {
    height: 30px;
    width: 100%;
    background-color: #f0f0f0;
    margin-top: -30px;
    margin-bottom: 20px;
}

.x-cancel[b-lx31c6m7yd] {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.export-check-then-button[b-lx31c6m7yd] {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* /ImportExport/IEButton.razor.rz.scp.css */

.ie-button[b-2fqeg4zr0n] {
    background-color: #f0f0f0;
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    white-space: nowrap; /* Prevent the text from wrapping */
}


    .ie-button:hover[b-2fqeg4zr0n] {
        background-color: #D3D3D3; /* A darker shade */
    }
/* /ImportExport/IECheckbox.razor.rz.scp.css */


.ie-checkbox-arrangement[b-sx2e5kfh1b] {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* /ImportExport/Import.razor.rz.scp.css */

.title-bar[b-vaefsuz3qr] {
    height: 30px;
    width: 100%;
    background-color: #f0f0f0;
    margin-top: -30px;
    margin-bottom: 20px;
}

.x-cancel[b-vaefsuz3qr] {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.import-check-then-button[b-vaefsuz3qr] {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* /Tabs/Components/TransactionPanel.razor.rz.scp.css */

.panel-text[b-b28yrp38uu] {
    display: flex;
    flex-direction: column;
    width: 50%;
    column-gap: 5px;
}


.data-title-row[b-b28yrp38uu] {
    display: flex;
    flex-direction: row;
}

.data-title[b-b28yrp38uu] {
    align-self: center;
    height: 25px;
    font-size: 18px;
    white-space: nowrap;
}


.data-button[b-b28yrp38uu] {
    margin-left: 50px;
    margin-bottom: 5px;
    width: 200px;
    height: 30px;
    white-space: nowrap;
}



.data-data[b-b28yrp38uu] {
    height: 100%;
/*    border: 1px solid black; */
}


.panel-bottom[b-b28yrp38uu] {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 5px;
}






/* /Tabs/CustomizeTab/Customize.razor.rz.scp.css */


.customize-pane[b-fu723e7w93] {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    padding: 10px;
    font-size: 14px;
}

.data-group[b-fu723e7w93] {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.data-item[b-fu723e7w93] {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.data-label[b-fu723e7w93] {
    width: 300px;
}

.us-defaults-btn[b-fu723e7w93] {
    display: inline-flex;
    padding: 5px;
    align-content: center;
}



/* /Tabs/InputOutputTabs.razor.rz.scp.css */


.input-outut-tab-container[b-romdooadbq] {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top: -1px;
}

.tab-item-group[b-romdooadbq] {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}


.tab-item[b-romdooadbq] {
    width: 150px;
    height: 30px;
    padding-top: 10px;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: ButtonFace;
    cursor: default;
}

    .tab-item:hover[b-romdooadbq] {
        background-color: lightgray;
    }


.tab-item-selected[b-romdooadbq] {
    background-color: Background;
    font-weight: bold;
    border-bottom-color: Background;
}

    .tab-item-selected:hover[b-romdooadbq] {
        background-color: Background;
    }


.tab-body[b-romdooadbq] {
    padding: 10px;
    white-space: nowrap;
}


/* /Tabs/InputTab/BankVsBooks.razor.rz.scp.css */
.position-walkthrough-window[b-qzmrehj7q1] {
    position: absolute;
    top: 30px;
    left: 50px;
}

.spec-walkthrough-button[b-qzmrehj7q1] {
    border: 2px solid black;
    background-color: rgb(93, 255, 0);
    min-width: 100px;
    height: 55px;
    position: fixed;
    left: 900px;
    top: calc(100vh - 300px);
    text-align: center;
    align-content: center;
    font-size: 14px;
    padding: 5px;
    line-height: 1.3;
    border-radius: 6px;
}

    .spec-walkthrough-button:hover[b-qzmrehj7q1] {
        background-color: rgb(0, 242, 0);
    }

    .spec-walkthrough-button:focus[b-qzmrehj7q1] {
        border-width: 3px;
    }

.import-export-frame[b-qzmrehj7q1] {
    border: 1px solid black;
    background-color: white; 
    width: 400px;
    height: 200px;
    position: fixed;
    left: 400px; 
    top: calc(100vh - 400px);
}




.panel-group[b-qzmrehj7q1] {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.top-panels[b-qzmrehj7q1] {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.bottom-title-row[b-qzmrehj7q1] {
    display: flex;
    flex-direction: row;
    column-gap: 10px;

}

.bottom-title[b-qzmrehj7q1] {
    margin-bottom: -10px;
    font-size: 18px;
}


.export-import-button[b-qzmrehj7q1] {
    width: 100px;
    height: 25px;
}


.spec-item[b-qzmrehj7q1] {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}


.spec-label[b-qzmrehj7q1] {
    width: 180px;
    align-content: center;
    text-align: right;
}

.the-bolded-label[b-qzmrehj7q1] {
    font-weight: bold;
    text-align: right;
}

.spec-button[b-qzmrehj7q1] {
    width: 100px;
}


.spec-notes[b-qzmrehj7q1] {
    font-size: 10px;
    align-content: center;
}


.spec-notes-1[b-qzmrehj7q1] {
    font-size: 12px;
    align-content: center;
}


.note-first-col-zero[b-qzmrehj7q1] {
    text-align: right;
    margin-top: -5px;
    width: 205px;
}




.specs-bottom-block[b-qzmrehj7q1] {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    column-gap: 30px;
}


.specs-bottom-block-col[b-qzmrehj7q1] {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}


.col-spec-row[b-qzmrehj7q1] {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.spec-txt-detail[b-qzmrehj7q1] {
    width: 100px;
}

.spec-txt-detail-checkbox[b-qzmrehj7q1] {
    display: flex;
    grid-column-gap: 5px;
    align-content: center;
}


.checkbox-label[b-qzmrehj7q1] {
    align-content: center;
}




/* /Tabs/InputTab/InputPanel.razor.rz.scp.css */

.bank-books-button[b-dwuwhfaoli] {
    margin-left: 50px;
    width: 250px;
    height: 50px;
    background-color: ButtonFace;
    border-radius: 5px;
    border-width: 2px;
    font-size: 16px;
}

    .bank-books-button:hover[b-dwuwhfaoli] {
        background-color: lightgray;
    }

    .bank-books-button:focus[b-dwuwhfaoli] {
        border-width: 3px;
    }

.selected-button[b-dwuwhfaoli] {
    background-color: rgb(93, 255, 0);
}

    .selected-button:hover[b-dwuwhfaoli] {
        background-color: rgb(0, 242, 0);
    }

.margins-content[b-dwuwhfaoli] {
    margin-top: 10px;
}





/* /Tabs/InputTab/LeftBooksVsRightBooks.razor.rz.scp.css */

.panel-group[b-9rrk6i1z3t] {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.top-panels[b-9rrk6i1z3t], .lower-panels[b-9rrk6i1z3t] {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
/* /Tabs/InputTab/WalkthroughSpecs.razor.rz.scp.css */


.walkthrough-specs[b-dmo2bizyij] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    border: 5px solid black;
    background-color: rgb(121, 161, 255);
    height: calc(100vh - 350px);
    width: 1000px;
}


.walkthrough-close-x[b-dmo2bizyij] {
    box-sizing: border-box;
    padding: 2px 8px 2px 10px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    background-color: lightgreen;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.x-cursor[b-dmo2bizyij] {
    cursor: pointer;
    text-align: center;
    width: 20px;
}


.walkthrough-centering[b-dmo2bizyij] {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.inner-frame[b-dmo2bizyij] {
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    padding: 10px;
}

.text-area-space[b-dmo2bizyij] {
    justify-content: flex-start;
    height: calc(100% - 50px);
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: -5px;
}


.text-area[b-dmo2bizyij] {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border: none;
}

    .text-area:focus[b-dmo2bizyij] {
        border: none;
        outline: none;
    }


/* /Tabs/OutputTab/InputDateParam.razor.rz.scp.css */

.date-param-group[b-m7fxexwnsi] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
}


.date-param-row1[b-m7fxexwnsi] {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date-param-label[b-m7fxexwnsi] {
    margin-right: 10px;
}


.date-param-row2[b-m7fxexwnsi] {
    margin-left: 105px;
    margin-top: 5px;
    height: 15px;
}


.validation-text[b-m7fxexwnsi] {
    color: lightseagreen;
    font-weight: bold;
}
/* /Tabs/OutputTab/OutputErrorDisplay.razor.rz.scp.css */

.err-display[b-qnxxtiqm3g] {
    border-color: #fc0000;
    border-style: solid;
    border-width: 10px;
    background-color: #fefdf0;
    height: 400px;
    width: 800px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translate(0px, 50px);
    display: flex;
    flex-direction: column;
}

.content-title[b-qnxxtiqm3g] {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 10px;
}

.content-body[b-qnxxtiqm3g] {
    font-size: 14px;
    color: black;
    text-align: left;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 10px;
    flex-grow: 1;
    white-space: pre-wrap;
    overflow-x: hidden;
}

.head-band[b-qnxxtiqm3g] {
    background-color: #efefef;
    border-bottom-color: #878787;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.close-x[b-qnxxtiqm3g] {
    font-size: 20px;
    color: black;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}
/* /Tabs/OutputTab/OutputPanel.razor.rz.scp.css */



.output-area[b-7uiwrybn16] {
    margin-top: 0px;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


.output-controls[b-7uiwrybn16] {
    display: flex;
    flex-direction: row;
}


.compare-button[b-7uiwrybn16] {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}


.date-label[b-7uiwrybn16] {
    margin-left: 30px;
    height: 30px;
    align-content: center;
    align-self: center;
    white-space: nowrap;
}


.output-panels[b-7uiwrybn16] {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 10px;
}


.output-panel-row[b-7uiwrybn16] {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    height: 100%;
}



.output-panel-cell-label[b-7uiwrybn16] {

}


.output-panel-cell-data[b-7uiwrybn16] {
}





